.background {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.log-in {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%;-50%);
  width: 320 * @px;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__close {
    .close {
      &__closeIcon {
        position: absolute;
        right: 25 * @px;
        top: 25 * @px;
        width: 18 * @px;
        color: black;
        cursor: pointer;
      }
    }
  }

  &__title {
    margin-top: 20 * @px;
    margin-bottom: 20 * @px;
    color: black;
    text-align: center;
  }

  &__username,
  &__mail,
  &__password {
    height: 37 * @px;
    width: 270 * @px;
    border: none;
    background-color: @light-grey;
    font-size: 12 * @px;
    font-weight: @light;
    text-align: center;

    &::placeholder {
      color: @black;
    }
  }

  &__username {
    // border-radius: 8 * @px 8 * @px 0 0;
    margin-bottom: 3 * @px;

    // &:focus {
    //   border-radius: 8 * @px 8 * @px 0 0;
    // }
  }

  &__mail {
    // border-radius: 8 * @px 8 * @px 0 0;
    margin-bottom: 3 * @px;

    // &.is-signup {
    //   border-radius: 0 !important;

    //   &:focus {
    //     border-radius: 0 !important;
    //   }
    // }

    // &:focus {
    //   border-radius: 8 * @px 8 * @px 0 0;
    // }
  }

  &__password {
    // border-radius: 0 0 8 * @px 8 * @px;
    margin-bottom: 15 * @px;

    // &:focus {
    //   border-radius: 0 0 8 * @px 8 * @px;
    // }
  }

  &__login {
    background-color: @black !important;
    color: @white !important;
    border: solid 1 * @px @black;
    margin-bottom: 13 * @px;

    &:hover {
      background-color: @white !important;
      color: @black !important;
      border: solid 1 * @px rgb(183, 183, 183);
    }
  }

  &__new-member {
    color: @black;
    margin-bottom: 20 * @px;

    .new-member {
      &__signup {
        color: @black !important;
        font-weight: @light !important;
        border-bottom: 1 * @px solid @black !important;

        &:hover {
          border-bottom: 1 * @px solid transparent !important;
        }
      }
    }
  }
}
