// Reset tout le style du bouton
.reset-style() {
  position: relative;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  width: max-content;
}

// Bouton primaire
.cta-primary() {
  .reset-style();
  padding: 8 * @px 35 * @px;
  color: @black;
  background-color: @white;
  border: solid 1 * @px @white;
  border-radius: 100 * @px;
  font-weight: @semibold;

  &:hover {
    color: @white;
    background-color: transparent;
  }
}

// Bouton primaire avec contour
.cta-primary-outline() {
  .reset-style();
  padding: 8 * @px 35 * @px;
  color: @white;
  background-color: transparent;
  border: solid 1 * @px @white;
  border-radius: 100 * @px;
  font-weight: @semibold;
  width: max-content;

  &:hover {
    color: @black;
    background-color: @white;
  }
}

// Bouton secondaire
.cta-secondary() {
  .reset-style();

  font-weight: @medium;
  color: @white;
  border-bottom: 2 * @px solid @white;

  &:hover {
    border-bottom: 2 * @px solid transparent;
  }
}
