// h1
.title-1() {
  font-size: 90 * @px;
  font-weight: @semibold;
  line-height: 130%;
  letter-spacing: 1.76 * @px;
  text-transform: uppercase;
  text-align: center;

  @media @mobile {
  }
}

// h2
.title-2() {
  font-size: 22 * @px;
  font-weight: @semibold;
  letter-spacing: 0.5 * @px;

  @media @mobile {
  }
}

// h3
.title-3() {
  font-size: 18 * @px;
  font-weight: @medium;
  line-height: 29 * @px;
  letter-spacing: 0.5 * @px;

  @media @mobile {
  }
}

// h4
.title-4() {
  font-size: 14 * @px;
  font-weight: @semibold;
  letter-spacing: 0.5 * @px;

  @media @mobile {
  }
}
