.ad{
    * {
        grid-column: 3 / 11;
      }
    
      @media @tablet {
        & > * {
          grid-column: 2 / 12;
        }
      }
    
      @media @mobile {
        & > * {
          grid-column: 1 / 7;
        }
      }

      &__adFeatures{
        flex-wrap: wrap;
        gap: 13 * @px;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
}