.ad {
  * {
    grid-column: 3 / 11;
  }

  @media @tablet {
    & > * {
      grid-column: 2 / 12;
    }
  }

  @media @mobile {
    & > * {
      grid-column: 1 / 7;
    }
  }

  // Infos propriétaire
  &__adRenter {
    margin-top: 28 * @px;
    margin-bottom: -10 * @px;
    display: flex;
    justify-content: center;
    align-items: center;
    .adRenter {
      &__picture {
        border-radius: 100 * @px;
        width: 35 * @px !important;
        margin-right: 11 * @px;
      }
      &__nickname {
        font-size: 16 * @px;
      }
    }
  }

  // Infos propriété
  &__adTitle {
    margin-bottom: -10 * @px;

    @media @not-tablet {
      grid-column: 2 / 12;
    }
  }

  &__adInfos {
    text-align: center;
    margin-bottom: 40 * @px;

    @media @not-tablet {
      grid-column: 2 / 12;
    }

    sup {
      font-size: 12 * @px;
    }
  }

  &__adPicture {
    border-radius: 15 * @px;
    margin-bottom: 32 * @px;

    @media @not-tablet {
      grid-column: 2 / 12;
    }
  }

  &__adFeatures {
    margin-top: 30 * @px;
    margin-bottom: 30 * @px;
    flex-wrap: wrap;
    gap: 13 * @px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  // Keen-slider
  &__adContainer {
    width:300px;
    border: solid 1px red;
  }

  //Disponibilité
  &__bookablesDates {
    @media @not-tablet {
      grid-column: 4 / 10;
    }
    display: flex;
    justify-content: space-between;
    .bookablesDates {
      &__dates {
      }
      &__price {
        font-weight: @semibold;
        font-size: 20 * @px;
        span {
          font-weight: @light;
        }
      }
    }
  }
  &__adInputs {
    @media @not-tablet {
      grid-column: 4 / 10;
    }
    display: flex;
    height: 60 * @px;
    border: solid 1 * @px @white;
    background-color: black;
    border-radius: @border-radius;
    margin-top: -10 * @px;
    margin-bottom: 5*@px;

    .adInputs {
      &__travelDays {
        background-color: black;
        width: 50%;
      }
      &__hosts {
        width: 50%;
        background-color: black;
        border: none;
        border-left: solid 1 * @px @white;

        &::placeholder {
          text-align: center;
        }
      }
    }
  }

  &__split{
    @media @not-tablet {
      grid-column: 4 / 10;
    }
    margin-top:7*@px;
    border-bottom:solid 1px @white;
    width: 100%;
  }

  &__nightCalculation, &__feeCalculation, &__totalCalculation{
    @media @not-tablet {
      grid-column: 4 / 10;
    }
    display:flex;
    justify-content: space-between;
    margin-bottom: -7*@px;
  }

  &__bookingButton {
    @media @not-tablet {
      grid-column: 4 / 10;
    }
    margin-top: 20*@px;
    margin-bottom: 60*@px !important;

    justify-self: center;  
    // padding-top: 10 * @px !important;
    // padding-bottom: 10 * @px !important;
    // // font-size: 16 * @px;
    // text-align: center;
  }
}
