.content {
  .wrapper();

  * {
    grid-column: 3 / 11;
  }

  @media @tablet {
    & > * {
      grid-column: 2 / 12;
    }
  }


  @media @mobile {
    & > * {
      grid-column: 1 / 7;
    }
  }

}