@import url('keen-slider/keen-slider.css');


.home {
overflow-y: hidden;

  &__result{
    
    display: flex;
  align-items: center;
  height: 85vh;
    // border:solid 1px red;
    .result{
      &__container{
        display: flex;
        align-items: center;
        // width: 100%;
        // height: 100%;


        .container{
          &__loop{
            overflow: visible;

            .loop{
              &__ad{
                overflow: visible;


              }
            }
          }
        }
      }
    }
  }
}